@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(222, 246, 249);
    font-family: 'Monsterrat',sans-serif;
}

header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}


.sidebar{
    position: relative;
    width: 525px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    left:-550px;
    transition: left 0.5s ease-in-out;
}

.sidebar.active{
    left:0;
    
}

.sidebar a{
    text-decoration: none;
    color:black;
}

.nav-branding-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:2em;
    align-items: center;
    margin-top:1.75em;
}

.nav-brand{
    font-size: 1.75rem;
    letter-spacing: 0.15em;
    font-weight: bold;
    text-shadow: 3px 4px 7px rgba(123, 122, 118, 0.8);
}

.nav-brand span{
    color:rgb(113, 220, 234);
}

.nav-branding-container i{
    font-size: 1.5rem;
    color:red;
    font-weight: bold;
    cursor: pointer;
}

.nav-bar-links{
    font-size: 1.55rem;
    letter-spacing: 0.15em;
    padding:1.25em;
    display: flex;
    flex-direction: column;
    gap:2em;
}

.nav-bar-links li{
    list-style: none;
}

.nav-bar-social{
    margin:0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:25em;
}

.nav-bar-social i{
    font-size: 1.25rem;
    color:rgb(113, 220, 234);
    cursor: pointer;
}

.hamburger{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-right: 25px;
    justify-content: center;
    cursor: pointer;
}

.hamburger #bar{
    width: 35px;
    height: 6.5px;
    background-color: rgb(113, 220, 234);
}



